@font-face {
    font-family: Yorktown;
    src: url(/Yorktown.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$width: 600px;

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;

    @mixin tablet {
        @media only screen and (min-width: 800px) {
            @content;
        }
    }

    #app {
        background-image: linear-gradient(to bottom,
                rgba(241, 235, 227, 0.9),
                rgba(241, 235, 227, 0.9)), url(../images/decorations/wooden-background.png);
        padding: 10vh 2em;

        section,
        nav {
            max-width: 700px;
            margin: auto;
        }

        header {
            text-align: center;

            img {
                width: 70px;
            }

            h1 {
                margin-top: 0;
                font-size: 3rem;
                font-family: Yorktown;
                font-weight: 200;
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
                font-size: 1.2rem;
            }
            a {
                text-decoration: none;
                color: black;
                display: block;
                margin-bottom: 2rem;
            }
        }

        .start {
            height: calc(100vh - 20vh);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;



            h1 {
                font-weight: 200;
                font-size: 2.8rem;
                margin: 0;
                font-family: Yorktown;

                @include tablet {
                    font-size: 3.5rem;
                }
            }

            h2 {
                margin: 0;
                font-size: 2rem;
                font-family: "montserrat";
                font-weight: 400;
            }

            button,
            .link,
            .pay-button {
                padding: .4em 2em;
                background-color: #403E3A;
                color: white;
                font-family: Yorktown;
                font-size: 2rem;
                border: none;
                border-radius: 10px;
                box-shadow: 2px 3px #494949;
                cursor: pointer;
            }

            button:hover,
            a:hover,
            pay-button:hover {
                transform: scale(1.1);
            }

            a {
                text-decoration: none;
                color: white;
            }

            a:visited {
                color: white;
            }

            #order-number {
                font-size: 2.5rem;
                font-weight: 500;
            }

        }

        #completed,
        #index {
            gap: 3rem;

            h1 {
                margin-bottom: -1.5rem;
            }
        }

        .menu {
            max-width: $width;
            margin: auto;
            margin-bottom: 5rem;

            article {
                background: rgba($color: #9e7644, $alpha: 1);
                padding: 1em;
                margin-bottom: 1em;
                border-radius: 5px;
                display: flex;
                flex-direction: column;

                img {
                    width: 200px;
                    object-fit: contain;
                    margin: auto;
                    padding: 1em;
                }

                .text {
                    padding: 0 1em;
                    color: #fff;



                    button {
                        width: 6rem;
                        height: 2rem;
                        background-color: #403d3a;
                        color: #fff;
                        font-family: Yorktown;
                        font-size: 1rem;
                        border: none;
                        border-radius: 10px;
                    }

                    button:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }

                @include tablet {
                    flex-direction: row;

                    &:nth-child(odd) {
                        flex-direction: row-reverse;
                    }
                }
            }
        }

        .credit-card * {
            box-sizing: border-box;
        }

        .credit-card {



            box-sizing: border-box;
            text-align: left;

            .container {
                background-color: hsl(0, 0%, 100%);
                width: 100%;
                max-width: 400px;

                border-radius: 5px;

                h1 {
                    font-family: "montserrat";
                    font-weight: 600;
                    font-size: 2.5rem;
                    padding: 1rem;
                    color: #005C9D;
                }



                form {
                    display: block;
                    padding: 1rem;
                    margin: 0;
                    width: 100%;
                }

                .set {
                    width: 100%;
                    display: inline-block;
                }

                @include tablet {
                    .set:nth-child(1) {
                        width: 60%;
                    }

                    .set:nth-child(2) {
                        width: 38%;
                    }
                }

                label {
                    display: block;
                    margin-bottom: 0.5rem;
                    font-weight: 600;
                }

                input {
                    background: rgba($color: #000000, $alpha: 0.05);
                    border: none;
                    width: 100%;
                    border-radius: 5px;
                    padding: 1em;
                }

                input[type=submit] {
                    margin-top: 2em;
                    background: #005C9D;
                    color: white;
                    font-weight: 600;
                    font-size: .8rem;
                    cursor: pointer;
                }


            }
        }

        .checkout {
            max-width: $width;
            margin: auto;
            height: auto;
            min-height: 230vh;
            @include tablet {
                min-height: 90vh;
            }

            a {
                text-decoration: none;
                color: black;
            }

            a:visited {
                color: black;
            }

            img {
                width: 30px;
            }

            article {
                background: rgba($color: #fff, $alpha: 0.5);
                padding: 1em;
                margin-bottom: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px;

                @include tablet {
                    flex-direction: row;
                }

                img {
                    object-fit: contain;
                    padding: 1em;
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                }

                .remove {
                    width: 6rem;
                    height: 2rem;
                    background-color: #403d3a;
                    color: #fff;
                    font-family: Yorktown;
                    font-size: 1rem;
                    border: none;
                    border-radius: 10px;

                }

                .remove:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

        }

        footer {
            nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2em;

                #ordered-items {
                    display: flex;
                    gap: 1em;
                    list-style: none;
                }

                img {
                    width: 40px;
                }
            }

            background: rgba($color: #CBB598, $alpha: 1);
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;

            button,
            p {
                display: inline-block;
            }

            h1 {
                font-weight: 200;
            }



            .pay-button,
            a {
                background-color: #403d3a;
                text-decoration: none;
                color: white;
                font-family: Yorktown;
                font-size: 1.5rem;
                padding: 5px 10px;
                border: none;
                border-radius: 10px;
            }

            .pay-button:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            .checkout-list {
                flex-direction: column;
            }

        }

        .overlay {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            background: rgba($color: #000000, $alpha: 0.4);
            height: 100vh;
            width: 100%;
            align-items: center;
            justify-content: center;

            img {
                width: 200px;
            }

            .modal {
                margin: auto;
                height: 50vh;
                width: 100%;
                max-width: $width;
                box-sizing: border-box;
                white-space: nowrap;
                background: #3F3D3A;
                border-radius: 20px;
                color: white;
                overflow: hidden;
                display: grid;
                position: relative;

                .close {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    z-index: 33;
                }

                .close:hover {
                    cursor: pointer;
                }

                .container {
                    transition: 1s;

                    .transparent {
                        opacity: 0.5;
                    }

                    .slide {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;

                        .wrapper {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            gap: 1em;
                        }
                    }
                }
            }
        }

    }
}
